:root{
    --Background: #1E1E1E;
    --color1: #000134;
    --color2: #023E8A;
    --color3: ;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--Background);
}

#container{
    max-width: 1200px;
    margin: auto;
}

#NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--color1);
}

#image img{
    width: 150px;
    margin-left: 15px;
}

#Paragraf{
    display: flex;
    gap: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: -30px;
}

#Paragraf p{
    display: flex;
    padding: 20px 0;
}

#Paragraf p:hover{
    cursor: pointer;
    color: #b1d3ff;
    transition: all 300ms;
}

#conta {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
}

.header-search-field {
    height: 40px;
    margin-top: 15px;
    padding-left: 18px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 14px;
}

#carro{
    margin-right: 20px;
}

#NavNav{
    padding: 5px 0px;
    display: flex;
    background-color: #023E8A;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#NavNav p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px 10px;
    font-size: 1rem;
}

#NavNav p:hover{
    cursor: pointer;
    color: #b1d3ff;
    transition: all 300ms;
}

/* GAMES */

section#games {
    height: calc(100vh + 80px);
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.game-img {
    width: 100%;
    height: 100%;
}

.game-img img {
    box-shadow: 0 1px 2px #0003;
    object-fit: cover;
    width: 70%;
  }

/* SWIPER */

.swiper {
  width: 95vw;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.swiper-button-next, 
.swiper-button-prev {
  color: gray;
}

.swiper-pagination-bullet-active {
  background-color: gray ;
}

/*Footer*/

.game-footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b2b2b;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
  }
  
  .footer-social a {
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
  }
  
  .footer-copyright {
    font-size: 14px;
  }
  